<!DOCTYPE html>
<html id="ng-app" ng-app="app">
<header>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta charset="utf-8">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/mathjs/0.14.0/math.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/static/js/lib/angular/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/highcharts.js"></script>
  	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/static/js/lib/complex.js"></script>
	<script type="text/javascript" src="/static/js/services.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript" src="/static/js/controllers.js"></script>
	<script type="text/javascript" src="/static/js/filters.js"></script>
	<script type="text/javascript" src="/static/js/directives.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/app.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" media="screen" />
</header>
<body class="shadow inset">
	<div class="page shadow">

		<!--Header bar-->
		<div id="header" data-ng-controller="NavCtrl">
			<a id="nuig_logo" class="clickable" href="http://nuigalway.ie" title="Go to NUIG HomePage">
				<img src="/static/img/nuig_logo.png" >
			</a>
			<div id="title" >
				{{title}}
			</div>
			<div class="button_bar">
				<a ng-repeat="(id,button) in menu" href="{{button.link}}" ng-click="selectPage(id)" ng-class="{button: true,menu: true, selected: button.selected}" ng-mouseover="$parent.showDetails(id)" ng-mouseout="$parent.hideDetails()">{{button.name}}</a>
			</div>
			<div class="divider"></div>
			<div class="{{details.class}}">
				<div class="details_text">
					{{details.text}}
				</div>
			</div>
		</div>

		<!-- Content Area-->
		<div id="content" ng-view>
		</div>
		<div class="shadow_below">
	</div>
</body>

</html>
