<!DOCTYPE html>
<html id="ng-app" data-ng-app="app">
<header>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta charset="utf-8">

	<script src="/static/js/lib/angular-file-upload-shim.min.js"></script> 
	<script type="text/javascript" src="/static/js/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/static/js/lib/angular/angular-route.js"></script>
	<script type="text/javascript" src="/static/js/lib/angular/angular-animate.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/highcharts.js"></script>
	<!--<script type="text/javascript" src="/static/js/lib/ladda.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/spin.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="/static/css/nuigalway_styling.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/css/repository_styling.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" media="screen" />
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/ladda.min.css" media="screen" /> -->
	<base href="/"></base>
	<title data-ng-bind="'NUIG - ' + $root.title"></title>
</header>
<body>
	<div id="container" data-ng-controller="NavCtrl">
		<div id="changeable">
			<div id="topBar">
				<div class="floatLeft">
					<span class="clickable">
						<span class="icon">L </span>
						Leagan Gaeilge
					</span>
					<span class="clickable"> 
						<span class="icon">A </span>
						Text Version
					</span>
					<span> 
						<span class="icon">i </span>
						Display: Zoom (
						<span class="icon zoom clickable" title="Increase Font Size">+</span>
						<span class="icon zoom clickable" title="Decrease Font Size">-</span>
						)
					</span>
					<span> 
						<span class="icon">V </span>
						View
						<span class="clickable">Normal</span>
						<span class="clickable">High Contrast</span>
					</span>
				</div>
				<div class="floatRight">
					<span class="clickable"> 
						<span class="icon">P </span>
						Printer Friendly
					</span>
					<span class="clickable"> 
						<span class="icon">M </span>
						<a href="http://www.nuigalway.ie/sitemap.php">
							Site Map
						</a>
					</span>
				</div>
			</div>
			<div class="clear"></div>	
			<div id="bannerImage">
				<a href="http://www.nuigalway.ie">
					<img id="logo" src="http://www.nuigalway.ie/images/logos/logo.png" alt="NUI Galway Logo" title="NUI Galway Homepage">
				</a>
			</div>
			<div class="clear"></div>	
		</div>
		<div id="breadCrumb">
				<div id="leftBreadcrumb">
					You are here :
				</div>
				<div id="rightBreadcrumb">
					<div class="floatLeft">
						<span data-ng-repeat="crumb in breadcrumbs">
							<a href="{{crumb.link}}"  title="{{crumb.name}}">{{crumb.name}}</a>
							{{ ($last) && ' ' || '>' }}
						</span>
					</div>
					<img src="http://www.nuigalway.ie/images/arrows/facdept_breadcrumb.png" >
				</div>
		</div>
		<div id="navcon">
			<div id="leftColumn" >
				<div id="navigation" class="{{navClass}}">
					<a href="http://www.nuigalway.ie/"  title="NUI Galway HomePage" class="nav home">NUI Galway Home</a>

					<div data-ng-repeat="option in menu" class="repeat-animations">
						<a class="nav" href="{{option.link}}" data-ng-class="isActive(option.link)">{{option.name}}</a>

						<div data-ng-repeat="subOption in option.subMenu | filter: (isActive(option.link) == ' selected' && ' ' || 'roflcopter')" class="repeat-animations">
							<a class="nav submenu" href="{{subOption.link}}" data-ng-class="isActive(subOption.link)">{{subOption.name}}</a>
						</div>
					</div>
					
				</div>
			</div>
			<div id="contentColumn">
				<!-- Content will be loaded dynamically in here by AngularJS routing -->
				<div data-ng-view  id="ngview" height-reflow></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<div id="footerLeft"></div>
			<div id="footerRight">
				<a href="{{link.link}}" data-ng-repeat="link in footerLinks">{{link.name}}</a>
			</div>
			<div id="valid">
				Electrical & Electronic Engineering
				<br>
				Engineering Building, National University of Ireland, Galway, Galway,  Ireland.
				<br>
				Phone +353 91 492728 Fax +353 91 494511
				<br>
				E-mail: mary.costello<span class="at"></span>nuigalway.ie
				<br>
				<br/>
				<span>This page was last updated ....</span>
			</div>
		</div>
	</div>
</body>
	<script type="text/javascript" src="/static/js/lib/angular/angular-sanitize.min.js"></script>
	<script src="/static/js/lib/angular-file-upload.js"></script> 
  	<!-- angular files  -->
	<script type="text/javascript" src="/static/js/lib/complex.js"></script>
	<script type="text/javascript" src="/static/js/filters.js"></script>
	<script type="text/javascript" src="/static/js/directives.js"></script>
	<script type="text/javascript" src="/static/js/factories.js"></script>
	<script type="text/javascript" src="/static/js/services.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript" src="/static/js/controllers/NavCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/HomeCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/AboutCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/RepoCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/ImportCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/Repo/HomeCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/Repo/ImportCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/Repo/ExportCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/Repo/ReferencesCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/Repo/IntroductionCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/Repo/SingleCtrl.js"></script>
	<script type="text/javascript" src="/static/js/controllers/Repo/MultipleCtrl.js"></script>
	<script type="text/javascript" src="/static/js/helper.js"></script>


</html>
