<div data-ng-controller="RepoSingleCtrl" class="container content">
	<br />
	<h4 class="greyTitle">Graphing Multiple Datasets</h4>
	<div class="box">
		This page is for comparing the Debye models by Krewer to the Cole-Cole models by Gabriel on which they are based. 
	</div>
	<h4 class="greyTitle">Error Metrics</h4>
	<div class="box">
		To fully compare the two datasets a third panel has been added below the two graphs with some error metrics. During the creation of the graph the maximum absolute and percentage errors are calculated. These errors are for the Krewer tissue model relative to the Gabriel model which it is based on. The percentage error is useful when looking at the full frequency range for a tissue as it can span multiple orders of magnitude. The absolute error is mostly useful when looking at the conductivity or at a single order of magnitude range.
	</div>
	<div class="box">
		A Root Mean Square Logarithmic Error is also calculated. The maths for this are available on the <a href="/repo/references">References page</a>. This is the most useful metric for seeing the efficiency of the Debye(Krewer) models versus the Cole-Cole(Gabriel) models
	</div>

	<h4 class="greyTitle">Control Panel</h4>
	<div class="controlPanel row">
		<div class="col-md-6 col-lg-6 col-small-8">
			<div class="row form-group step1"  ng-click="currentStep = 1" data-ng-class="{'highlight': (currentStep == 1)}">
				<label class="stepLabel">1. Select Datasets to model</label>
				<div class="checkbox row form-inline" data-ng-repeat="(k,v) in datasets">
				    <label class="col-md-4">
						<input type="checkbox"  data-ng-model="settings.datasets[k].selected">{{k}} <a class="reference " href="/repo/references#ref{{v.reference}}">[{{v.reference}}]</a>
				    </label>
				    <span class="col-md-4 form-inline"> poles:
				    	<select data-ng-options="pole for pole in selectable_poles[k].poles" class="poles-select" data-ng-model="settings.datasets[k].poles" data-ng-disabled="selectable_poles[k].disabled" >
			    		</select>
			    	</span>		
				</div>
			</div>
			<div class="row form-group step2" ng-click="currentStep = 2" data-ng-class="{'highlight': (currentStep == 2)}">
					<label class="stepLabel" >2. Select Tissue</label>
					<select data-ng-model="settings.tissue" ng-options="t for t in tissues_display" class="form-control input-sm">
					</select>
			</div>
			<div class="row form-group step3" data-ng-class="{'highlight': (currentStep == 3)}" ng-click="currentStep = 3">
				<label class="stepLabel" >3. Set Frequency Parameters</label>
				<label for="form_lowfreq">Lower Frequency Bound</label>
				<select id="form_lowfreq" ng-model="settings.frequency.start" ng-options="f.value as f.key for f in frequencies" class="form-control input-sm">
				</select>
				<label for="form_highfreq">Upper Frequency Bound</label>	
				<select id="form_highfreq" ng-model="settings.frequency.stop" ng-options="f.value as f.key for f in frequencies" class="form-control input-sm">
				</select>
				<label for="form_decade">Points per Decade</label>	
				<input type="number" class="form-control" id="form_decade" placeholder="Select Points per Decade" min="1" max="20" step="1" size="10" ng-model="settings.frequency.steps"> 
			</div>
			<div class="row form-group step4" data-ng-class="{'highlight': (currentStep == 4)}" ng-click="currentStep = 4">
				<label class="stepLabel" >4. Set Graph Parameters</label>
				<label for="form_axis">Axis Type</label>
				<select id="form_axis" class="form-control input-sm" ng-model="settings.graph.axis" ng-options="a for a in graph.axis" >
				</select>
			</div>
			<div class="row form-group step5" data-ng-class="{'highlight': (currentStep == 5)}" ng-click="currentStep = 5">
				<label class="stepLabel" >5. Graph or Retry</label>
  				<fieldset >
					<button type="button" ng-Click="model_data()" ng-disabled="!formValidated" class="btn btn-primary btn-md">Generate Graph</button>
					<button type="button" ng-Click="reset()" class="btn btn-danger btn-md">Clear Settings</button>
  				</fieldset>
			</div>
		</div>
		<div class="col-md-5 col-lg-5 col-small-3">
			<div id="instructions" class="instructions" ng-bind-html="instructions[currentStep-1]">
			</div>
		</div>
	</div>
	<br />
	<div >
		<div class="title row text-left">
			<h4> Conductivity Graph</h4>
			<button type="button" class="btn btn-info btn-xs" ng-model="visible.conductivity" value="true" ng-click="visible.conductivity = !visible.conductivity">{{visible.conductivity && 'Hide ' || 'Show'}}</button>
	    </div>
		<div id="conductivity_container" class="graph" ng-class="{' hidden': !visible.conductivity}"></div>

		<div class="title row text-left">
			<h4>Relative Permittivity Graph</h4>
	    	<button type="button" class="btn btn-info btn-xs" ng-model="visible.permittivity" value="true" ng-click="visible.permittivity = !visible.permittivity">{{visible.permittivity && 'Hide ' || 'Show'}}</button>
	    </div>
		<div id="permittivity_container" class="graph" ng-class="{' hidden': !visible.permittivity}"></div>		<div class="title row text-left">

			<h4> Error Metrics</h4>
	    	<button type="button" class="btn btn-info btn-xs" ng-model="visible.errors" value="true" ng-click="visible.errors = !visible.errors">{{visible.errors && 'Hide ' || 'Show'}}</button>
	    </div>
		<div id="error_container" class="graph" ng-class="{' hidden': !visible.errors}">
			<table class="table table-condensed">
				<tr>
					<th>Error Type</th>
					<th>Permittivity</th>
					<th>Conductivity</th>
				</tr>
				<tr>
					<td>Max Absolute Error</td>
					<td>{{errors.max.absolute.p.toFixed(5)}}</td>
					<td>{{errors.max.absolute.c.toFixed(5)}}</td>
				</tr>
				<tr>
					<td>Max Percentage Error</td>
					<td>{{errors.max.percentage.p.toFixed(3)}} %</td>
					<td>{{errors.max.percentage.c.toFixed(3)}} %</td>
				</tr>
				<tr>
					<td>RMSLE</td>
					<td>{{errors.rmsle.p.toFixed(5)}}</td>
					<td>{{errors.rmsle.c.toFixed(5)}}</td>
				</tr>

			</table>
		</div>		
	</div>
</div> 